.left {
  direction: ltr;
}
.inline.left {
  display: inline-flex;
  direction: rtl;
}
.inline.responsive {
  width: auto;
  display: flex;
}
.countBox.responsive {
  width: auto;
}
.countBox {
  display: flex;
  width: 215px;
}
.countBox .countBoxItem {
  flex: 1;
}
.countBox .countBoxItem .lable {
  font-size: 12px;
  text-align: center;
}
.countBox .countBoxItem .count {
  text-align: center;
}
.inline {
  display: flex;
  width: 215px;
}
.inline .countBoxItem {
  flex: 1;
}
.inline .countBoxItem .lable {
  font-size: 12px;
  text-align: center;
}
.inline .countBoxItem .count {
  text-align: center;
}
.split {
  line-height: 74px;
  height: 50px;
}
.small {
  width: 125px;
  font-size: 14px;
}
.small .lable {
  font-size: 10px;
}
.small .split {
  line-height: 33px;
  height: 45px;
  font-size: 14px;
}
.small .count {
  font-size: 14px;
}
.small.responsive {
  display: flex !important;
  width: auto !important;
}
.small.responsive .count {
  flex: 1;
  text-align: center;
}
.small.border {
  width: 145px;
}
.small.border .count {
  line-height: 32px;
  height: 30px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin: 2px;
  padding: 0 5px;
  flex: 1;
  text-align: center;
}
.small.border .split {
  line-height: 66px;
  height: 45px;
}
.inline.small .count {
  display: inline-block;
}
.inline.small .split {
  line-height: 33px;
  height: 45px;
  font-size: 14px;
}
.inline.small.right {
  display: inline-block;
  direction: ltr;
}
.inline.small.left {
  direction: rtl;
}
.inline.small.responsive .split {
  line-height: 30px;
  height: 30px;
}
.inline.small.border.responsive .split {
  line-height: 35px;
  height: 30px;
}
.countBox.small .split {
  line-height: 75px;
  height: 50px;
  font-size: 14px;
}
.countBox.small.right {
  display: inline-flex;
  direction: rtl;
}
.countBox.small.left {
  direction: ltr;
}
.countBox.small.responsive .split {
  line-height: 55px;
  height: 45px;
}
.countBox.small.border.responsive .split {
  line-height: 65px;
  height: 45px;
}
.middle {
  width: 155px;
  font-size: 18px;
}
.middle .lable {
  font-size: 12px;
}
.middle .count {
  font-size: 18px;
}
.middle .split {
  line-height: 33px;
  height: 45px;
  font-size: 18px;
}
.middle.right {
  display: inline-block;
  direction: ltr;
}
.middle.responsive {
  display: flex !important;
  width: auto !important;
}
.middle.responsive .count {
  flex: 1;
  text-align: center;
}
.middle.border {
  width: 160px;
}
.middle.border .count {
  line-height: 32px;
  height: 30px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin: 2px;
  padding: 0 5px;
  flex: 1;
  text-align: center;
}
.middle.border .split {
  line-height: 66px;
  height: 45px;
}
.inline.middle .count {
  display: inline-block;
}
.inline.middle.right {
  display: inline-block;
  direction: ltr;
}
.inline.middle.left {
  direction: rtl;
}
.inline.middle.responsive .split {
  line-height: 35px;
  height: 35px;
}
.inline.middle.border.responsive .split {
  line-height: 35px;
  height: 30px;
}
.countBox.middle.right {
  display: inline-flex;
  direction: rtl;
}
.countBox.middle.left {
  direction: ltr;
}
.countBox.middle.responsive .split {
  line-height: 55px;
  height: 45px;
}
.countBox.middle.border.responsive .split {
  line-height: 65px;
  height: 45px;
}
.large {
  width: 200px;
  font-size: 22px;
}
.large .lable {
  font-size: 12px;
}
.large .count {
  font-size: 22px;
}
.large .split {
  font-size: 22px;
}
.large.right {
  direction: ltr;
}
.large.responsive {
  display: flex !important;
  width: auto !important;
}
.large.responsive .count {
  flex: 1;
  text-align: center;
}
.large.border {
  width: 185px;
}
.large.border .count {
  line-height: 32px;
  height: 30px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin: 2px;
  padding: 0 5px;
  flex: 1;
  text-align: center;
}
.large.border .split {
  line-height: 75px;
  height: 45px;
}
.inline.large .count {
  display: inline-block;
}
.inline.large .split {
  line-height: 33px;
  height: 45px;
}
.inline.large.right {
  display: inline-block;
}
.inline.large.left {
  direction: rtl;
}
.inline.large.responsive .split {
  line-height: 40px;
  height: 40px;
}
.inline.large.border.responsive .split {
  line-height: 35px;
  height: 35px;
}
.countBox.large .split {
  line-height: 68px;
  height: 45px;
}
.countBox.large.right {
  display: inline-flex;
}
.countBox.large.left {
  direction: ltr;
}
.countBox.large.responsive .split {
  line-height: 55px;
  height: 45px;
}
.countBox.large.border.responsive .split {
  line-height: 70px;
  height: 45px;
}
.big .count {
  font-size: 26px;
}
.big .split {
  height: 45px;
  font-size: 26px;
}
.big.right {
  direction: ltr;
}
.big.responsive {
  display: flex !important;
  width: auto !important;
}
.big.responsive .count {
  flex: 1;
  text-align: center;
}
.big.border {
  width: 204px;
}
.big.border .count {
  line-height: 32px;
  height: 30px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin: 2px;
  padding: 0 5px;
  flex: 1;
  text-align: center;
}
.big.border .split {
  line-height: 75px;
  height: 45px;
}
.big.border.responsive .split {
  line-height: 35px;
  height: 35px;
}
.inline.big .count {
  display: inline-block;
}
.inline.big .split {
  line-height: 33px;
}
.inline.big.right {
  display: inline-block;
}
.inline.big.left {
  direction: rtl;
}
.inline.big.responsive .split {
  line-height: 40px;
  height: 40px;
}
.inline.big.border.responsive .split {
  line-height: 35px;
  height: 35px;
}
.countBox.big .split {
  line-height: 68px;
}
.countBox.big.right {
  display: inline-flex;
}
.countBox.big.left {
  direction: ltr;
}
.countBox.big.responsive .split {
  line-height: 55px;
  height: 45px;
}
.countBox.big.border.responsive .split {
  line-height: 75px;
  height: 50px;
}

.count-down-react-box .count-down-react .title {
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  margin: 50px 0 0;
  background-color: #4db1c2;
  color: #fff;
}

.count-down-react {
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.count-down-react pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.count-down-react-box .count-down-react .root-react-countdown-timer {
  margin: 15px 0;
}