// stylelint-disable no-descending-specificity
.root-react-countdown-timer{
  .left {
    direction: ltr;
  }

  .border {
    .count {
      height: auto;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      margin: 2px;
      padding: 5px 5px;
      flex: 1;
    }
    &.responsive {
      .split {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 8px;
      }
    }
  }

  .countBoxItem {
    min-width: 30px;
  }

  .responsive {
    display: flex !important;

    .count {
      flex: 1;
      text-align: center;
    }
  }

  .inline {
    .count {
      display: inline-block;
    }

    &.right {
      display: inline-block;

    }

    &.left {
      direction: rtl;
      display: inline-flex;
    }
  }

  .countBox {
    display: flex;

    span.split {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 0px;
    }
    &.border {
      span.split {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10px;
      }
    }
    .label {
      text-align: center;
    }

    &.right {
      display: inline-flex;
      direction: rtl;
    }

    &.left {
      direction: ltr;
    }

    .countBoxItem {
      flex: 1;

      .count {
        text-align: center;
      }
    }
  }
}



.count-down-react-box .count-down-react .title {
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  margin: 50px 0 0;
  background-color: #4db1c2;
  color: #fff;
}

.count-down-react {
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.count-down-react pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.count-down-react-box .count-down-react .root-react-countdown-timer {
  margin: 15px 0;
}